.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #000;
}

.enterButton {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  padding: 12px 24px;
  font-size: 16px;
  font-family: "Special Gothic Expanded One", sans-serif;
  border: 2px solid #fff;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 100;
}

.enterButton:hover {
  background: #fff;
  color: #000;
}

.modelSelectContainer {
  position: absolute;
  z-index: 20;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 5px;
}

.explanation {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  gap: 5px;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
  font-size: 0.7em;
  font-style: normal;
  color: #999;
  white-space: pre-line;
}


.modelButton {
  width: 40px;
  height: 40px;
  padding: 0;
  border: solid #888 2px;
  background: #444;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 100;
}

.modelButton:hover {
  border-color: #fff;
}

.modelButton.selected {
  border-color: #fff;
  background: #666;
}